{% extends 'base.html' %}

{% block header %}
<div class="jumbotron bg-light">
    <div class="container">
      <h1 class="display-4"><a href="{% url 'list' %}" class="text-primary text-decoration-none">ブログ</a></h1>
      <p class="lead">記事詳細です。</p>
    </div>
  </div>
{% endblock header %}

{% block content %}
    <div class="container">
        <div class="card">
            <h5 class="card-header">{{ object.category }}</h5>
            <div class="card-body">
                <h5 class="card-title">{{ object.title }}</h5>
                <p class="card-text">{{ object.content }}</p>
                <a href="{% url 'list' %}" class="btn btn-primary">一覧へ</a>
                <a href="{% url 'update' object.pk %}" class="btn btn-primary">編集する</a>
                <a href="{% url 'delete' object.pk %}" class="btn btn-primary">削除する</a>
            </div>
        </div>
    </div>
{% endblock content %}
